@import "tailwindcss";
@layer components {
  .selected {
    border-color: #00aeef !important; /* Mavi kenarlık */
    background-color: #f0f9ff !important; /* Çok hafif mavi arka plan */
    box-shadow: 0 10px 15px -3px rgba(0, 174, 239, 0.2) !important; /* Mavi gölge */
    transform: translateY(-4px); /* Seçiliyken hafif yukarıda durur */
  }
}
